<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.ppm.mes.domain.haccp.lamp.insect.HaccpLampInsectMapper">
	<select id="getInsectList" resultType ="HaccpLampInsectVO" parameterType="hashMap" statementType="PREPARED">
	/*com.ppm.mes.domain.haccp.lamp.insect.HaccpLampInsectMapper.getInsectList */
		SELECT
			COMPANY company,
			SUB_CODE subCode,
			DATA1 classification,
			SUB_NAME checklist,
			DATA2 manageCrieteria
		FROM TB_CCP_CD100 A
		WHERE 1=1
		
		<if test="map.company != null and map.company != ''">
			<![CDATA[  
      			AND   A.COMPANY = #{map.company}
  			]]>
	    </if>		
	    
		 <if test="map.mainCode != null and map.mainCode != ''">
			<![CDATA[  
      			AND   A.MAIN_CODE = #{map.mainCode}
  			]]>
	    </if>	
	    <if test="map.subCode != null and map.subCode != ''">
			<![CDATA[  
      			AND A.SUB_CODE LIKE UPPER(CONCAT('%',#{map.subCode},'%'))
  			]]>
	    </if>	
	</select>
	
	<select id="getHaccpInsectList" resultType ="HaccpLampInsectVO" parameterType="hashMap" statementType="PREPARED">
	/*com.ppm.mes.domain.haccp.lamp.insect.HaccpLampInsectMapper.getHaccpInsectList */
		SELECT
			COMPANY company,
			INSPECTION_DATE inspectionDate,
			MAIN_CODE mainCode,
			SUB_CODE subCode,
			CLASS classification,
			CHECKLIST checklist,
			MANAGE_CRIETERIA manageCrieteria,
			FLY_RESULT flyResult,
			MOTH_RESULT mothResult,
			MOS_RESULT mosResult,
			ONE_RESULT oneResult,
			ROACH_RESULT roachResult,
			SPY_RESULT spyResult,
			ANT_RESULT antResult,
			SO_RESULT soResult,
			RAT_RESULT ratResult,
			LAMP lamp,
			WALK walk,
			RAT_TRAP ratTrap,
			REMARK remark
		FROM TB_CCP_LAMP100 A
		WHERE 1=1
		
		<if test="map.company != null and map.company != ''">
			<![CDATA[  
      			AND   A.COMPANY = #{map.company}
  			]]>
	    </if>		
	    
		 <if test="map.mainCode != null and map.mainCode != ''">
			<![CDATA[  
      			AND   A.MAIN_CODE = #{map.mainCode}
  			]]>
	    </if>	
	    
	    <if test="map.subCode != null and map.subCode != ''">
			<![CDATA[  
      			AND A.SUB_CODE LIKE UPPER(CONCAT('%',#{map.subCode},'%'))
  			]]>
	    </if>	
	    
		 <if test="map.inspectionDate != null and map.subCode != ''">
			<![CDATA[  
      			AND   A.INSPECTION_DATE = #{map.inspectionDate}
  			]]>
	    </if>
	</select>

</mapper>