<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.ppm.mes.domain.haccp.manufacturing.detail.ManuFacturingDetailMapper">
	
	<select id="getHaccpDetailList" resultType ="ManuFacturingDetailVO" parameterType="hashMap" statementType="PREPARED">
	/*com.ppm.mes.domain.selfHygine.detail.SelfHygineDetailMapper.getHaccpDetailList */
		SELECT
			COMPANY company,
			SUB_CODE subCode,
			DATA1 classification,
			SUB_NAME checklist,
			DATA2 manageCrieteria
		FROM TB_CCP_CD100 A
		WHERE 1=1
		
		<if test="map.company != null and map.company != ''">
			<![CDATA[  
      			AND   A.COMPANY = #{map.company}
  			]]>
	    </if>		
	    
		 <if test="map.mainCode != null and map.mainCode != ''">
			<![CDATA[  
      			AND   A.MAIN_CODE = #{map.mainCode}
  			]]>
	    </if>		
	</select>
	<select id="getManuFacturingDetailList" resultType ="ManuFacturingDetailVO" parameterType="hashMap" statementType="PREPARED">
	/*com.ppm.mes.domain.selfHygine.detail.SelfHygineDetailMapper.getSelfHygineDetailList */
		SELECT
			COMPANY company,
			INSPECTION_DATE inspectionDate,
			MAIN_CODE mainCode,
			SUB_CODE subCode,
			CLASS classification,
			CHECKLIST checklist,
			MANAGE_CRIETERIA manageCrieteria,
			CHECK_RESULT checkResult,
			REMARK remark
		FROM TB_CCP_MF100 A
		WHERE 1=1
		
		<if test="map.company != null and map.company != ''">
			<![CDATA[  
      			AND   A.COMPANY = #{map.company}
  			]]>
	    </if>		
	    
		 <if test="map.mainCode != null and map.mainCode != ''">
			<![CDATA[  
      			AND   A.MAIN_CODE = #{map.mainCode}
  			]]>
	    </if>		
	    
		 <if test="map.inspectionDate != null and map.subCode != ''">
			<![CDATA[  
      			AND   A.INSPECTION_DATE = #{map.inspectionDate}
  			]]>
	    </if>
	</select>
</mapper>