<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.ppm.mes.domain.material.Detail.MaterialDetailMapper"> 
    	
    	<select id="getMaterialDetailList" resultType="materialDetailVO" parameterType="hashMap" statementType="PREPARED">  
    		 /* com.ppm.mes.domain.material.Detail.MaterialDetailMapper.getMaterialDetailList */    
				SELECT 
			          COMPANY        company
					, IN_DATE        inDate
					, IN_SEQ         inSeq
					, ITEM_TYPE      itemType
					, PRDC_NAME      prdcName
					, RCVN_QNTT      rcvnQntt
					, SXL_OBJC       sxlObjc
					, LI_QI          liQi
					, PCK_STT        pckStt
					, DSP_ITM        dspItm
					, VHC_HYG        vhcHyg
					, PLT_STT        pltStt
					, RPR_STT        rprStt
					, EXP_DT         expDt
					, CHECKED 		 checked
					, PST_INF_STT	 pstInfStt
					, JDGM_PR 		 jdgmPr
					
			      FROM  TB_CCP_MAT100	
			     WHERE  1 = 1
			       AND  COMPANY = #{map.company}
			       AND  IN_DATE = #{map.inDate} 
    	</select>
    	
</mapper>
