<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.ppm.mes.domain.calendar.CalendarMapper">
	<select id="selectcalendarlist" resultType="hashMap" parameterType="hashMap" statementType="PREPARED">   
		  select id
				,groupId
				,title
				,writer
				,content
				,startDt as start
				,endDt as end
				,allDay
				,textColor
				,backgroundColor
				,borderColor
		    from th_calendar_data
    </select>
    
    <insert id="insertCalendarItem" parameterType="hashMap" statementType="PREPARED">

    </insert>
    
    <update id="updateCalendarItem" parameterType="hashMap" statementType="PREPARED">

    </update>
    
    <delete id="deleteCalendarItem" parameterType="hashMap" statementType="PREPARED">

    </delete>
    
</mapper>